$primary: #6200ee;
$on-primary: #fff;
$secondary:#018786;
$on-secondary:#fff;
$font-size: 0.875rem;
$font-family: Roboto, sans-serif;
$line-height: 2.25rem;
$font-weight: 500;
$letter-spacing: 0.0892857143em;
$text-decoration: none;
$text-transform: uppercase;

$ripple-fg-translate-start: 0;
$ripple-fg-translate-end: 0;
$ripple-fg-scale-start: 0.1;
$ripple-fg-scale: 1.5;
$ripple-fg-opacity: 0.12;
