@import './vars';

.mg-drawer {
  --font-family: #{$font-family};
  --headline6-font-size: #{$headline6-font-size};
  --headline6-line-height: #{$headline6-line-height};
  --headline6-font-weight: #{$headline6-font-weight};
  --headline6-letter-spacing: #{$headline6-letter-spacing};
  --headline6-text-decoration: #{$headline6-text-decoration};
  --headline6-text-transform: #{$headline6-text-transform};
  --body2-font-size: #{$body2-font-size};
  --body2-line-height: #{$body2-line-height};
  --body2-font-weight: #{$body2-font-weight};
  --body2-letter-spacing: #{$body2-letter-spacing};
  --body2-text-decoration: #{$body2-text-decoration};
  --body2-text-transform: #{$body2-text-transform};

  border-color: rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 0 0 0 0;
  z-index: 6;
  width: 256px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 100%;
  border-right-width: 1px;
  border-right-style: solid;
  overflow: hidden;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  > .header {
    flex-shrink: 0;
    box-sizing: border-box;
    min-height: 64px;
    padding: 0 16px 4px;
    > .title {
      color: rgba(0, 0, 0, 0.87);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: $font-family;
      font-family: var(--font-family, $font-family);
      font-size: $headline6-font-size;
      font-size: var(--headline6-font-size, $headline6-font-size);
      line-height: $headline6-line-height;
      line-height: var(--headline6-line-height, $headline6-line-height);
      font-weight: $headline6-font-weight;
      font-weight: var(--headline6-font-weight, $headline6-font-weight);
      letter-spacing: $headline6-letter-spacing;
      letter-spacing: var(--headline6-letter-spacing, $headline6-letter-spacing);
      text-decoration: $headline6-text-decoration;
      text-decoration: var(--headline6-text-decoration, $headline6-text-decoration);
      text-transform: $headline6-text-transform;
      text-transform: var(--headline6-text-transform, $headline6-text-transform);
      display: block;
      margin-top: 0;
      line-height: normal;
      margin-bottom: -20px;
      &::before {
        display: inline-block;
        width: 0;
        height: 36px;
        content: "";
        vertical-align: 0;
      }
      &::after {
        display: inline-block;
        width: 0;
        height: 20px;
        content: "";
        vertical-align: -20px;
      }
    }
    > .subtitle {
      color: rgba(0, 0, 0, 0.6);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: $font-family;
      font-family: var(--font-family, $font-family);
      font-size: $body2-font-size;
      font-size: var(--body2-font-size, $body2-font-size);
      line-height: $body2-line-height;
      line-height: var(--body2-line-height, $body2-line-height);
      font-weight: $body2-font-weight;
      font-weight: var(--body2-font-weight, $body2-font-weight);
      letter-spacing: $body2-letter-spacing;
      letter-spacing: var(--body2-letter-spacing, $body2-letter-spacing);
      text-decoration: $body2-text-decoration;
      text-decoration: var(--body2-text-decoration, $body2-text-decoration);
      text-transform: $body2-text-transform;
      text-transform: var(--body2-text-transform, $body2-text-transform);
      display: block;
      margin-top: 0;
      line-height: normal;
      margin-bottom: 0;
      &::before {
        display: inline-block;
        width: 0;
        height: 20px;
        content: "";
        vertical-align: 0;
      }
    }
  }


  > .content {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  // variants

  &.animate {
    transform: translateX(-100%);
  }
  &.opening {
    transform: translateX(0);
    transition-duration: 250ms;
  }
  &.closing {
    transform: translateX(-100%);
    transition-duration: 200ms;
  }
  &.dismissible {
      left: 0;
      right: initial;
    display: none;
    position: absolute;
  }
  &.modal {
      left: 0;
      right: initial;
    display: none;
    position: fixed;
    &.modal-shadow{
      box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    }
  }

  // multiple variants
  &.dismissible.open {
    display: flex;
  }
  &.modal.open {
    display: flex;
  }
}

//dirs

[dir=rtl] > .mg-drawer,
.mg-drawer[dir=rtl] {
  border-radius: 0 0 0 0;
  border-right-width: 0;
  border-left-width: 1px;
  border-right-style: none;
  border-left-style: solid;
}
[dir=rtl] > .mg-drawer.animate, 
.mg-drawer.animate[dir=rtl] {
  transform: translateX(100%);
}
[dir=rtl] > .mg-drawer.opening,
.mg-drawer.opening[dir=rtl] {
  transform: translateX(0);
}
[dir=rtl] > .mg-drawer.closing,
.mg-drawer.closing[dir=rtl] {
  transform: translateX(100%);
}
[dir=rtl] > .mg-drawer.dismissible,
.mg-drawer.dismissible[dir=rtl] {
  left: initial;
  right: 0;
}
[dir=rtl] .mg-drawer.modal,
.mg-drawer.modal[dir=rtl] {
  left: initial;
  right: 0;
}

// relations between drawer and app-content

.mg-drawer.open:not(.closing) + .mg-drawer-app-content {
  margin-left: 256px;
  margin-right: 0;
}
[dir=rtl] > .mg-drawer.open:not(.closing) + .mg-drawer-app-content, 
.mg-drawer.open:not(.closing) + .mg-drawer-app-content[dir=rtl] {
  margin-left: 0;
  margin-right: 256px;
}

// App content related to Drawer

.mg-drawer-app-content {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
[dir=rtl] > .mg-drawer-app-content,
.mg-drawer-app-content[dir=rtl] {
  margin-left: 0;
  margin-right: 0;
}

// Drawer scrim

.mg-drawer-scrim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
// relations between drawer and drawer scrim
.mg-drawer.modal + .mg-drawer-scrim {
  background-color: rgba(0, 0, 0, 0.32);
}
.mg-drawer.open + .mg-drawer-scrim {
  display: block;
}
.mg-drawer.animate + .mg-drawer-scrim {
  opacity: 0;
}
.mg-drawer.opening + .mg-drawer-scrim {
  transition-duration: 250ms;
  opacity: 1;
}
.mg-drawer.closing + .mg-drawer-scrim {
  transition-duration: 200ms;
  opacity: 0;
}
