@import './vars';

.mg-list {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  --font-family: #{$font-family};
  --subtitle1-font-size: #{$subtitle1-font-size};
  --subtitle1-line-height: #{$subtitle1-line-height};
  --subtitle1-font-weight: #{$subtitle1-font-weight};
  --subtitle1-letter-spacing: #{$subtitle1-letter-spacing};
  --subtitle1-text-decoration: #{$subtitle1-text-decoration};
  --subtitle1-text-transform: #{$subtitle1-text-transform};
  --primary: #{$primary};
  --primary-on-background: #{$primary-on-background};
  --secondary-on-background: #{$secondary-on-background};
  --body2-line-height: #{$body2-line-height};
  --body2-font-weight: #{$body2-font-weight};
  --body2-letter-spacing: #{$body2-letter-spacing};
  --body2-text-decoration: #{$body2-text-decoration};
  --body2-text-transform: #{$body2-text-transform};
  --icon-on-background: #{$icon-on-background};
  --hint-on-background: #{$hint-on-background};
  --on-surface: #{$on-surface};
  --caption-font-size: #{$caption-font-size};
  --caption-line-height: #{$caption-line-height};
  --caption-font-weight: #{$caption-font-weight};
  --caption-letter-spacing: #{$caption-letter-spacing};
  --caption-text-decoration: #{$caption-text-decoration};
  --caption-text-transform: #{$caption-text-transform};
  
  font-family: $font-family;
  font-family: var(--font-family, $font-family);
  font-size: $subtitle1-font-size;
  font-size: var(--subtitle1-font-size, $subtitle1-font-size);
  line-height: $subtitle1-line-height;
  line-height: var(--subtitle1-line-height, $subtitle1-line-height);
  font-weight: $subtitle1-font-weight;
  font-weight: var(--subtitle1-font-weight, $subtitle1-font-weight);
  letter-spacing: $subtitle1-letter-spacing;
  letter-spacing: var(--subtitle1-letter-spacing, $subtitle1-letter-spacing);
  text-decoration: $subtitle1-text-decoration;
  text-decoration: var(--subtitle1-text-decoration, $subtitle1-text-decoration);
  text-transform: $subtitle1-text-transform;
  text-transform: var(--subtitle1-text-transform, $subtitle1-text-transform);

  line-height: 1.5rem;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  color: $primary-on-background;
  color: var(--primary-on-background, $primary-on-background);
}


// List Item

.mg-list > a.mg-list-item {
  color: inherit;
  text-decoration: none;
}
.mg-list > .mg-list-item {
  height: 48px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  overflow: hidden;

  > label {
    cursor: inherit;
  }

  > .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &[for] {
      pointer-events: none;
    }
    > .primary-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      margin-top: 0;
      line-height: normal;
      margin-bottom: -20px;
      &::before {
        display: inline-block;
        width: 0;
        height: 32px;
        content: "";
        vertical-align: 0;
      }
      &::after {
        display: inline-block;
        width: 0;
        height: 20px;
        content: "";
        vertical-align: -20px;
      }
    }
    > .secondary-text {
      color: $secondary-on-background;
      color: var(--secondary-on-background, $secondary-on-background);
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: $font-family;
      font-family: var(--font-family, $font-family);
      font-size: $font-size;
      font-size: var(--font-size, $font-size);
      line-height: $body2-line-height;
      line-height: var(--body2-line-height, $body2-line-height);
      font-weight: $body2-font-weight;
      font-weight: var(--body2-font-weight, $body2-font-weight);
      letter-spacing: $body2-letter-spacing;
      letter-spacing: var(--body2-letter-spacing, $body2-letter-spacing);
      text-decoration: $body2-text-decoration;
      text-decoration: var(--body2-text-decoration, $body2-text-decoration);
      text-transform: $body2-text-transform;
      text-transform: var(--body2-text-transform, $body2-text-transform);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      margin-top: 0;
      line-height: normal;
      &::before {
        display: inline-block;
        width: 0;
        height: 20px;
        content: "";
        vertical-align: 0;
      }
    }
  }
  > .left {
    background-color: transparent;
    color: $icon-on-background;
    color: var(--icon-on-background, $icon-on-background);
    margin-left: 0;
    margin-right: 32px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    display: inline-flex;
  }
  > .right {
    color: $hint-on-background;
    color: var(--hint-on-background, $hint-on-background);
    margin-left: auto;
    margin-right: 0;
    &:not(.material-icons) {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: $font-family;
      font-family: var(--font-family, $font-family);
      font-size: $caption-font-size;
      font-size: var(--caption-font-size, $caption-font-size);
      line-height: $caption-line-height;
      line-height: var(--caption-line-height, $caption-line-height);
      font-weight: $caption-font-weight;
      font-weight: var(--caption-font-weight, $caption-font-weight);
      letter-spacing: $caption-letter-spacing;
      letter-spacing: var(--caption-letter-spacing, $caption-letter-spacing);
      text-decoration: $caption-text-decoration;
      text-decoration: var(--caption-text-decoration, $caption-text-decoration);
      text-transform: $caption-text-transform;
      text-transform: var(--caption-text-transform, $caption-text-transform);
    }
  }
  > svg.right{
    width: 24px;
    height: 24px;
    fill: currentColor
  }

  // List Item variants
  &.disabled{
    > .text {
      opacity: 0.38;
    }
    > .text,
    > .primary-text,
    > .secondary-text {
      color: $on-surface;
      color: var(--on-surface, $on-surface);
    }
  }

  // List item varantis events
  &:focus {
    outline: none;
  }
  
  &.selected,
  &.activated {
    color: $primary;
    color: var(--primary, $primary);
    > .left {
      color: $primary;
      color: var(--primary, $primary);
    }
  }

  //dirs
  &[dir=rtl]{
    > .left {
      margin-left: 32px;
      margin-right: 0;
    }
    > .right {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

// variants events
.mg-list{
  &:focus {
    outline: none;
  }
}

// dirs
.mg-list[dir=rtl] > .mg-list-item {
  > .right {
    margin-left: 0;
    margin-right: auto;
  }
  > .left {
    margin-left: 32px;
    margin-right: 0;
  }
}

// variants
.mg-list.avatar-list{
  >.mg-list-item {
    height: 56px;
    > .left {
      margin-left: 0;
      margin-right: 16px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    &[dir=rtl] > .left {
      margin-left: 16px;
      margin-right: 0;
    }
  }
}

.mg-list.two-line{
  > .mg-list-item {
    height: 72px;
    > .text {
      align-self: flex-start;
    }
  }
}

.mg-list.dense {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.812rem;
  > .mg-list-item {
    height: 40px;
    > .text {
      > .primary-text {
        display: block;
        margin-top: 0;
        line-height: normal;
        margin-bottom: -20px;
        &::before {
          display: inline-block;
          width: 0;
          height: 24px;
          content: "";
          vertical-align: 0;
        }
        &::after {
          display: inline-block;
          width: 0;
          height: 20px;
          content: "";
          vertical-align: -20px;
        }
      }
      > .secondary-text {
        font-size: inherit;
      }
    }
    > .left {
      margin-left: 0;
      margin-right: 36px;
      width: 20px;
      height: 20px;
    }

    //dirs
    &[dir=rtl] > .left {
      margin-left: 36px;
      margin-right: 0;
    }
  }
}

.mg-list:not(.non-interactive){
  > .mg-list-item {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:not(.disabled){
      cursor: pointer;
      &::before,
      &::after {
        position: absolute;
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        content: "";
        top: calc(50% - 100%);
        left: calc(50% - 100%);
        width: 200%;
        height: 200%;
        background-color: #000;
      }
      &::before {
        transition: opacity 15ms linear, background-color 15ms linear;
        z-index: 1;
      }
      &::after {
        transition: opacity 150ms linear;
      }
      &:hover::before {
        opacity: 0.04;
      }
      &:focus::before {
        transition-duration: 75ms;
        opacity: 0.12;
      }
      &:active::after {
        transition-duration: 75ms;
        opacity: 0.12;
      }
      &.activated{
        &::before, 
        &::after {
          background-color: $primary;
          background-color: var(--primary, $primary);
        }
        &::before {
          opacity: 0.12;
        }
        &::after {
          transition: opacity 150ms linear;
        }

        &:hover::before {
          opacity: 0.16;
        }
        &:focus::before {
          transition-duration: 75ms;
          opacity: 0.24;
        }
        &:active::after {
          transition-duration: 75ms;
          opacity: 0.24;
        }
      }
      &.selected{
        &::before, 
        &::after {
          background-color: $primary;
          background-color: var(--primary, $primary);
        }
        &::before {
          opacity: 0.08;
        }
        &::after {
          transition: opacity 150ms linear;
        }
        &:hover::before {
          opacity: 0.12;
        }
        &:focus::before {
          transition-duration: 75ms;
          opacity: 0.2;
        }
        &:active::after {
          transition-duration: 75ms;
          opacity: 0.2;
        }

      }
    }
    &.disabled{
      &::before, 
      &::after {
        position: absolute;
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        content: "";
        top: calc(50% - 100%);
        left: calc(50% - 100%);
        width: 200%;
        height: 200%;
        background-color: #000;
      }
      &::before {
        transition: opacity 15ms linear, background-color 15ms linear;
        z-index: 1;
      }
      &:focus::before {
        transition-duration: 75ms;
        opacity: 0.12;
      }
    }
  }
}

// multiple variants together

.mg-list {
  // multiple variants together
  &.dense.two-line,
  &.dense.avatar-list {
    > .mg-list-item {
      height: 60px;
    }
  }
  &.dense.avatar-list > .mg-list-item {
    > .left {
      margin-left: 0;
      margin-right: 20px;
      width: 36px;
      height: 36px;
    }

    &[dir=rtl] > .left {
      margin-left: 20px;
      margin-right: 0;
    }
  }
}

.mg-list-divider {
  height: 0;
  margin: 0;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);

  // variants

  &.padded {
    margin: 0 16px;
  }
  &.inset {
    margin-left: 72px;
    margin-right: 0;
    width: calc(100% - 72px);
  }
  &.inset.padded {
    width: calc(100% - 72px - 16px);
  }
}



// List Group

.mg-list-group{
  --font-family: #{$font-family};
  --subtitle1-font-size: #{$subtitle1-font-size};
  --subtitle1-line-height: #{$subtitle1-line-height};
  --subtitle1-font-weight: #{$subtitle1-font-weight};
  --subtitle1-letter-spacing: #{$subtitle1-letter-spacing};
  --subtitle1-text-decoration: #{$subtitle1-text-decoration};
  --subtitle1-text-transform: #{$subtitle1-text-transform};

  > .subheader {
    color: $primary-on-background;
    color: var(--primary-on-background, $primary-on-background);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family;
    font-family: var(--font-family, $font-family);
    font-size: $subtitle1-font-size;
    font-size: var(--subtitle1-font-size, $subtitle1-font-size);
    line-height: $subtitle1-line-height;
    line-height: var(--subtitle1-line-height, $subtitle1-line-height);
    font-weight: $subtitle1-font-weight;
    font-weight: var(--subtitle1-font-weight, $subtitle1-font-weight);
    letter-spacing: $subtitle1-letter-spacing;
    letter-spacing: var(--subtitle1-letter-spacing, $subtitle1-letter-spacing);
    text-decoration: $subtitle1-text-decoration;
    text-decoration: var(--subtitle1-text-decoration, $subtitle1-text-decoration);
    text-transform: $subtitle1-text-transform;
    text-transform: var(--subtitle1-text-transform, $subtitle1-text-transform);
    margin: calc((3rem - 1.5rem) / 2) 16px;
  }
  > .mg-list {
    padding: 0;
  }
}

//ListGroup dirs
.mg-list-group[dir=rtl] > .inset {
  margin-left: 0;
  margin-right: 72px;
}
