$error: #b00020;
$primary: #6200ee;
$on-primary: #fff;
$primary-on-background: rgba(0, 0, 0, 0.87);
$secondary:#018786;
$on-secondary:#fff;
$secondary-on-background:rgba(0, 0, 0, 0.54);
$font-size: 0.875rem;
$font-family: Roboto, sans-serif;
$line-height: 2.25rem;
$font-weight: 500;
$letter-spacing: 0.0892857143em;
$text-decoration: none;
$text-transform: uppercase;
$icon-on-background:rgba(0, 0, 0, 0.38);
$hint-on-background:rgba(0, 0, 0, 0.38);
$on-surface:#000;

$subtitle1-font-size:1rem;
$subtitle1-line-height:1.75rem;
$subtitle1-font-weight:400;
$subtitle1-letter-spacing: 0.009375em;
$subtitle1-text-decoration:inherit;
$subtitle1-text-transform:inherit;

$subtitle2-font-size:0.875rem;
$subtitle2-line-height:1.375rem;
$subtitle2-font-weight:500;
$subtitle2-letter-spacing: 0.0071428571em;
$subtitle2-text-decoration:inherit;
$subtitle2-text-transform:inherit;

$body2-font-size: 0.875rem;
$body2-line-height: 1.25rem;
$body2-font-weight: 400;
$body2-letter-spacing:0.0178571429em;
$body2-text-decoration:inherit;
$body2-text-transform:inherit;

$caption-font-size: 0.75rem;
$caption-line-height: 1.25rem;
$caption-font-weight: 400;
$caption-letter-spacing:0.0333333333em;
$caption-text-decoration:inherit;
$caption-text-transform:inherit;

$headline6-font-size: 1.25rem;
$headline6-line-height: 2rem;
$headline6-font-weight: 500;
$headline6-letter-spacing:0.0125em;
$headline6-text-decoration:inherit;
$headline6-text-transform:inherit;

$ripple-fg-translate-start: 0;
$ripple-fg-translate-end: 0;
$ripple-fg-scale-start: 0.1;
$ripple-fg-scale: 1.5;
$ripple-fg-opacity: 0.12;

$shape-medium: 4px;
$theme-surface: #fff;